*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gred{
    display: grid;
    background-color: #eee;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 70px 80px 700px 10%;
    grid-template-areas: 
    "logo logo logo logo logo logo logo logo logo logo"
    "nav nav nav nav nav nav nav nav nav nav"
    "con con con con con con con con con con"
    "fot fot fot fot fot fot fot fot fot fot";
}
.h-head{
    grid-area: logo;
    background-color: red;
}
.git{
    grid-area: nav;
    background-color: blue;
}
section{
    grid-area: con;
background-color: blueviolet;
}
footer{
    grid-area: fot;
    background-color: brown;
}
body{
    background-color: aquamarine;
}